@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

img{
	width:500px;
	height:500px;
	object-fit: cover;
}

.wrapper{
	display: flex;
	width: 100%;
	max-width:1200px;
	margin: 0 auto;
	padding : 200px;
}

.product_contents{
	margin: 0 auto;
}

p{
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
}

#product_name{
	font-size:32px;
}

#goLogin , .submit{
	background-color: transparent;
	border: none;
}

.list{
	display: inline-block;
	width:100px;
}


.btn {
	background-color: transparent;
	border: none;
}

.btn a{
	width:170px;
    height:70px;
    line-height: 70px;
	margin-top:30px;
	margin-right:50px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	border: none;
	color: #fff;
	text-decoration: none;
	display: block;
}

.btn_input{
	width:170px;
    height:70px;
	margin-top:30px;
	margin-right:50px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	border: none;
	color: #fff;
	text-decoration: none;
	display: block;
}

.btn:hover{
	opacity: .7;
}

#goLogin a , .submit a {
	padding:20px;
	margin-top:60px;
	display: inline-block;
	text-decoration: none;
	border-radius:5px ;
	color: #fff;
}


 .back{
	text-decoration: none;
	display: inline-block;
	padding-top: 30px;
	font-size: 12px;
	color:rgb(56, 56, 56);
 }

#goLogin a:hover , .submit:hover , .back:hover{
	opacity:.7;
	}
	
#product-detail{
	padding-left:100px;
}

.tax_in , .quantity_max{
	font-size: 10px;
	padding-left:5px;
}

.text{
	margin-bottom:20px;
}

.product_contents{
	display: flex;
	align-items: center;
	justify-content: center;
}

#goLogin , #goLogin a{
	background-color: rgb(56, 56, 56);
	height:60px;
	margin:0;
	width:160px;
	padding:0;
	margin:0;
	width: 280px;
	}
	

	 .btn_wrapper{
		 display: flex;
	 }
	
	


