;

/* 共通 */

li{
	list-style: none;
}

a{
	text-decoration:none;
}

a:hover{
	opacity: .7;
}


/* header footer関係 */

header , footer{
	width:100vw;
	padding :0;
	margin : 0;
	background-image:url(../image/decoration/includes_bgi.jpg);
}

header{
	height : 70px;
}

footer{
	height : 120px;
	text-align: center;
}


footer ul {
	display: flex;
	justify-content: space-between;
	width: 240px;
	margin:0 auto;
	margin-bottom:10px;
	font-weight: 100;
	padding-left: 0;
	
}

footer a{
	color: #333;
}

main{
	min-height:85vh;	
}

.header_inner{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header_right ul{
    display: flex;
    padding: 0;
}

.header_right li{
	list-style: none;
	margin-left:10px;
	line-height: 70px;


}

#site_title{
    font-size: 16px;
    line-height: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    
}

header a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
  display: block;
  font-size: 12px;
  letter-spacing: .2em;
}

header a:hover {
  opacity: .5;
}

footer{
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}







