@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

img{
	width:500px;
	height:500px;
	object-fit: cover;
}

.wrapper{
	display: flex;
	width: 100vw;
	max-width:1200px;
	margin: 0 auto;
}

.product_contents{
	margin: 0 auto;
	width: 80%;
	padding:100px;
}

p{
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
}

#product_name{
	font-size:32px;
}

#goLogin , .submit{
	background-color: transparent;
	border: none;
}

.list{
	display: inline-block;
	width:200px;
}


.btn {
	background-color: transparent;
	border: none;
}

.btn a{
	width:170px;
    height:70px;
    line-height: 70px;
	margin-top:30px;
	margin-right:50px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	border: none;
	color: #fff;
	text-decoration: none;
	display: block;
}

.btn_input{
	width:170px;
    height:70px;
	margin-top:30px;
	margin-right:50px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	border: none;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 70px;
}

.btn:hover{
	opacity: .7;
}

#goLogin a , .submit a {
	padding:20px;
	margin-top:60px;
	display: inline-block;
	text-decoration: none;
	border-radius:5px ;
	color: #fff;
}


 .back{
	text-decoration: none;
	display: inline-block;
	padding-top: 30px;
	font-size: 16px;
	color:rgb(56, 56, 56);
 }

#goLogin a:hover , .submit:hover , .back:hover{
	opacity:.7;
	}
	
#product-detail{
	padding-left:100px;
}

.tax_in , .quantity_max{
	font-size: 10px;
	padding-left:5px;
}

.text{
	margin-bottom:20px;
}

.product_contents{
	display: flex;
	align-items: center;
	justify-content: center;
}

#goLogin , #goLogin a{
	background-color: rgb(56, 56, 56);
	height:60px;
	margin:0;
	width:160px;
	padding:0;
	margin:0;
	width: 280px;
	}
	

	 .btn_wrapper{
		 display: flex;
	 }
	
	.btn_input:hover{
		opacity: .7;
	}
	
	

.back{
	text-align: center;
	padding-top:50px;
}

.back a{
	text-decoration: none;
	color: rgb(27, 27, 27);
	
	}
	



	
/* モーダルウィンドウ　削除確認画面　*/

		.modal {
		  display: none;
		  position: fixed;
		  z-index: 1;
		  left: 0;
		  top: 0;
		  height: 100%;
		  width: 100%;
		  overflow: auto;
		  background-color: rgba(0,0,0,0.5);
		}
		
		
		.modal-content {
		  background-color: #f4f4f4;
		  margin: 20% auto;
		  border-radius:5px ;
		  padding:30px;
		  width: 600px;
		  height:250px;
		  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
		  animation-name: modalopen;
		  animation-duration: 1s;
		}
		
		@keyframes modalopen {
		  from {opacity: 0}
		  to {opacity: 1}
		}
		
		
		.modal-body {
		  padding: 30px 10px;
		  color: black;
		}
		
		.modal-body p{
		  font-size: 16px;
		  text-align: center;
		}
		
	  .delete_btn_wrapper{
		  display:flex;
		  justify-content: space-between;
		  width: 500px;
		  margin:0 auto;
	  }
	  
	   	.modalClose, .delete_btn{
		   width: 200px;
		   height:60px;
		   border-radius:5px ;
		   line-height: 60px;
		   margin-top:60px;
		   
	   }
	   
	   .modalClose{
		   text-align: center;
		   border: #333 2px solid;
	   }
	   
	   .delete_btn{
		   background-color: rgb(206, 71, 47);
		   border: none;
		   color: #fff;
	   }
	  
	  .modalClose:hover, .delete_btn:hover{
		  opacity: .6;
	  }
	  

	



