@charset "UTF-8";

*{
	padding : 0;
	margin : 0;
}

.tab {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 120px;
}

/* タブメニュー */

.tab__menu {
  display: flex;
  align-items: flex-end; /* メニューを下揃え */
  justify-content: center;
  min-height: 50px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin: 0;
}

.tab__menu-item {
  list-style: none;
  width: 200px;
  padding: 8px 5px; /* メニューに高さを付ける */
  text-align: center;
  margin-right: 6px;
  background-color: #cdcdcd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: all .3s; /* アニメーション */
}

.tab__menu-item:last-of-type {
  margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
  background-color: rgba(48, 172, 249);
  color: #ffffff;
  padding: 12px 5px;
}

/* タブパネル */
.tab__panel {
 width: 100%;
}

.tab__panel-box {
  min-height: 400px;
  padding: 10px 30px;
  border-radius: 10px;
}

.tab__panel-box001 {
  background-color: rgb(205, 246, 246);
  display: none;
}

.tab__panel-box002 {
  background-color: rgb(249 227 243);
  display: none;
}

.tab__panel-box003 {
  background-color: rgb(200, 248, 195);
  display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
  display: block;
}


.container{
	display: flex;
}


side_bar{
	width:30%;
}

tab {
	width:70%;
}

li{
	list-style: none;
}

/* サイドバー */

.side_bar{
	padding-top:120px;
    width: 15%;
}

#category_list{
    margin-left:10px;
}

.side_bar > a{
    padding: 15px 30px;
    display: block;
    font-size: 12px;
    letter-spacing: .2em;
}

.category_content .category li{
    display: block;
}

.category li a{
	display: inline-block;
    color: #444;
    width:100px;
    padding:5px;
}

.category li a:hover{
    border-bottom: 1px solid #ccc;
}