@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

.wrapper{
	width: 100%;
	max-width:1000px;
	margin: 0 auto;
	padding : 200px;
}

table{
	margin:0 auto
}

label{
	margin-right:30px;
}

p{
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
}

.list{
	display: inline-block;
	width:100px;
}


.btn {
	background-color: transparent;
	border: none;
}


.btn a{
	width:170px;
    height:70px;
    line-height: 70px;
	margin-top:30px;
	margin-right:50px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	border: none;
	color: #fff;
	text-decoration: none;
	display: block;
}


.btn:hover{
	opacity: .7;
}


	 .btn_wrapper{
		 display: flex;
		 justify-content: space-between;
		 width: 500px;
		 margin:0 auto;
	 }
	
	


