
@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

a{
	font-size: 12px;
	color:rgb(56, 56, 56);
	text-decoration: none;
}

a:hover{
	opacity: .7;
}

#section_title{ /* product listの字体変更*/
	font-family: 'Tangerine', cursive;
	font-size:50px;
	letter-spacing: 2px;
}
	
table {
  width: 45%;
}

th{
  padding: 10px;
  text-align: left;
  overflow: hidden; /* セル内の内容がはみ出た場合は表示を省略 */
  white-space: nowrap; /* 文字列を折り返さずに表示 */
}

td {
width: 150px;
height: 50px;
 table-layout: fixed; /* セルの幅を指定した幅に固定 */
}

button{
	width:160px;
	text-decoration: none;
	background-color: grey; /* 背景色をグレーに設定 */
	font-size: 16px; /* ボタンのテキストのサイズを変更 */
    border:none;
}


button a{
	padding:20px;
	display: block;
	border-radius:5px ;
	color : #fff;
}


.back{
	margin-right: 200px;
	line-height: 50px; 
	}
