
@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

.title{
	padding-top: 40px;
	width:100%;
	max-width:600px;
	margin:0 auto;
}

.container{
	width:100%;
	max-width:500px;
	margin:40px auto;
}

.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}

table{
	width: 80%;
	margin:0 auto;
}
a{
	font-size: 12px;
	color:rgb(56, 56, 56);
	text-decoration: none;
}

a:hover{
	opacity: .7;
}

#section_title{ /* product listの字体変更*/
	font-family: 'Tangerine', cursive;
	font-size:50px;
	letter-spacing: 2px;
}

th{
  padding: 10px;
  text-align: left;
  overflow: hidden; /* セル内の内容がはみ出た場合は表示を省略 */
  white-space: nowrap; /* 文字列を折り返さずに表示 */
}

td {
width: 150px;
height: 50px;
 table-layout: fixed; /* セルの幅を指定した幅に固定 */
}

button{
	width:160px;
	text-decoration: none;
	background-color: grey; /* 背景色をグレーに設定 */
	font-size: 16px; /* ボタンのテキストのサイズを変更 */
    border:none;
}


button a{
	padding:20px;
	display: block;
	border-radius:5px ;
	color : #fff;
}

.button_nav{
	display: flex;
	justify-content: space-between;	
	padding: 20px 40px;
}


.back{
	text-align: center;
	width: 200px;
	display: inline-block;
}
