@charset "UTF-8";

/* header関係 */

header , footer{
	width:100vw;
	padding :0;
	margin : 0;
	background-image:url(../image/decoration/includes_bgi.jpg);
	height : 70px;
}

.header_inner{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_right ul{
    display: flex;
}

#site-title{
    font-size: 16px;
    line-height: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav_list{ /* navの中のul */
    display: flex;
    margin-block-start: 0;
	margin-block-end: 0;
}

.nav_list > li{
	list-style: none;
	height: 70px;
	margin-left:16px;
}

header a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
  display: block;
  font-size: 12px;
  letter-spacing: .2em;
}

.nav_text{ /* アイコン以外 */
	 line-height: 70px;
}

.icon{ /* アイコン */
  
	padding-top:15px;
	padding-bottom:5px;
}

header a:hover  , .sarch_btn:hover{
  opacity: .5;
}

header label{
	font-size:12px;
}

header form{ /* 検索フォーム*/
	display: flex;
}

.search_box{ /* 検索ボックス */
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    margin-top: 15px;
    padding-left:5px;
    margin-left: 20px;
}

.sarch_btn{ /* 検索ボタン */
    background-color: transparent;
    border: none;
    margin-left:-50px;
    line-height: 70px;
}

footer{
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* モーダルウィンドウ　削除確認画面　*/
		
		
		.modal {
		  display: none;
		  position: fixed;
		  z-index: 1;
		  left: 0;
		  top: 0;
		  height: 100%;
		  width: 100%;
		  overflow: auto;
		  background-color: rgba(0,0,0,0.5);
		}
		
		.formModalContent{
		  background-color: rgb(251, 253, 253);
		  margin: 20% auto;
		  width: 50%;
		  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
		  animation-name: modalopen;
		  animation-duration: 1s;
		}
		
		@keyframes modalopen {
		  from {opacity: 0}
		  to {opacity: 1}
		}
		
		.modal-header h1 {
		  margin: 1rem 0;
		}
		
		.modal-header {
		  background: rgb(177, 176, 177);
		  padding: 3px 15px;
		  display: flex;
		  justify-content: space-between;
		}
		
		.modalClose {
		  font-size: 2rem;
		}
		
		.modalClose:hover {
		  cursor: pointer;
		}
		
		.modal-body {
		  padding: 30px 20px;
		  color: black;
		}
		
		.modal-body p{
		  font-size: 16px;
		}
		
		 .check{
		 color:rgb(54, 55, 55);
		  font-size:16px;
		  text-align:center;
	  }



.non_footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

#formModalOpen{
	background-color: transparent;
	border: none;
	 color: #333;
	  text-decoration: none;
	  transition: all 0.5s;
	  display: block;
	  font-size: 12px;
	  letter-spacing: .2em;
}
