@charset "UTF-8";

/* header関係 */
.header_innner{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header_right{
    display: flex;
}

.search_box{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    margin-top: 5px;
    padding-left:5px;
    margin-left: 20px;
}

.sarch_btn{
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding-left:10px;
    margin-top:0;
    line-height: 50px;
}

header{
    background-color: #c7c7c7;
    height: 50px;
}

.nav_list{
    display: flex;
}

#site-title{
    font-size: 16px;
    line-height: 50px;
}

header a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
  margin-bottom:5px;
	display: inline-block;
}

.nav_text{
	 line-height: 50px;
}

.icon{
	padding-top:5px;
	padding-bottom:5px;
}

header a:hover  , .sarch_btn:hover{
  opacity: .5;
}

header form{
	display: flex;
}

header li{
	list-style: none;
	padding-left:20px;
	height: 50px;
}

header label{
	font-size:12px;
}