@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

.container{
	width:100%;
	max-width:1000px;
	margin : 0 auto;
	padding-top:40px;
	text-align: center;
}

.step_image{
	width:100%;
	max-width:600px;
}

.order_box{
	width:100%;
	max-width:800px;
	margin : 0 auto;
	display: flex;
	padding-bottom:30px;
	border-bottom: 1px solid lightslategray;
}

.order{
	width: 100%;
	max-width: 800px;
	text-align: center;
	border-bottom: 1px solid lightslategray;
	padding-bottom: 0px;
	padding-top: 20px;
}

.text{
	padding-left:50px;
}

h3{
	font-size: 15px;
}



.image img{
	width:150px;
	height:150px;
	object-fit: cover;
}

.right {
	padding-top: 60px;
}

.amount{
	padding-left: 130px;
	padding-top: 40px;
}

.radius{
	border-radius: 10px;
	padding: 5px 20px;
	background-color: grey;
	color: white;
	border: 1px solid grey;
	box-shadow: 4px 4px 2px lightgrey;
}

.product .quantity .amount {
	margin: 10px 0 0;
 	 padding: 0;
}

.delivery , .changeDelivery{
	width: 100%;
	max-width:500px;
	margin: 15px auto;
}


.add{
	padding-left: 30px;
}

.radius:hover{
	box-shadow: none;
	color: dimgrey;
	background-color: darkgrey;
	border: 1px solid darkgrey;
}

.button{
	text-align: center;
	padding-top: 20px;
}

.total{
	margin-top: 30px;
}

.back{
	text-align: center;
	margin-top: 20px;
}

a{
	text-decoration: none;
	color: darkslategray;
	font-size: 12px;
	font-weight:bold;
}

a:hover{
	color:lightgray;
}


.check{
	margin-bottom:10px;
}

.submit{
	width:160px;
	padding:20px;
	margin-top:30px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	color : #fff;
	display: inline-block;
	margin: 0 auto;
	border:none;
}

.submit_box{
	margin-top:40px;
	text-align: center;
}

.submit:hover{
	opacity: .7;
}

.back{
	display: inline-block;
	margin-bottom:40px;
}

.bold{
	font-weight: bold;
}

.mypage{
	color: rgb(44, 44, 44);
	border-bottom:1px solid  rgb(44, 44, 44);
	padding-bottom: 2px;
}
