@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

main {
	display:flex;
    justify-content: center;
    align-items: center;
}

.order{
	width: 100%;
	max-width: 800px;
	text-align: center;
}

h3{
	font-size: 15px;
}

.border{
	border: 1px solid lightslategray;
	border-left: none;
	border-right: none;
	padding-bottom: 0px;
	padding-top: 20px;
}

.image{
	margin: 10px;
	width: 150px;
	margin:0;
	padding: 0;
	overflow: hidden;
	position: absolute;
}

.right {
	padding-left: 160px;
	padding-top: 60px;
}

.amount{
	padding-left: 130px;
	padding-top: 40px;
}

.radius{
	border-radius: 10px;
	padding: 5px 20px;
	background-color: grey;
	color: white;
	border: 1px solid grey;
	box-shadow: 4px 4px 2px lightgrey;
}

.product .quantity .amount {
	margin: 10px 0 0;
 	 padding: 0;
}

.delivery{
	margin-bottom: 15px;
}

.add{
	padding-left: 30px;
}

.radius:hover{
	box-shadow: none;
	color: dimgrey;
	background-color: darkgrey;
	border: 1px solid darkgrey;
}

.button{
	text-align: center;
	padding-top: 20px;
}

.total{
	text-align: center;
	margin-top: 15px;
}

.back{
	text-align: center;
	margin-top: 20px;
}

a{
	text-decoration: none;
 	 color: darkslategray;
}

a:hover{
	color:lightgray;
}