@charset "UTF-8";

/* 共通 */

*{
    padding: 0;
    margin: 0;
}

.container{
	width:100%;
	max-width:1000px;
	margin : 0 auto;
	padding-top:40px;
	text-align: center;
}

.step_image{
	width:100%;
	max-width:600px;
}



a{
	text-decoration: none;
	color: darkslategray;
	font-size: 12px;
	font-weight:bold;
}

a:hover{
	opacity: .7;
}

.bold,.message,.error_message ,.form_box{
	font-weight: bold;
}




/* message関係 */ 

#order_confilm{
	font-size: 16px;
}

.error_message{
	color:rgb(186, 41, 28);
}



/* 商品表示関係 */

.order_box{ /* 商品情報を表示している*/
	width:100%;
	max-width:800px;
	margin : 0 auto;
	display: flex;
	padding-bottom:30px;
	border-bottom: 1px solid lightslategray;
}

.image img{ /* 商品の画像 */
	width:150px;
	height:150px;
	object-fit: cover;
}

.amount{
	padding-left: 130px;
	padding-top: 40px;
}

.product .quantity .amount {
	margin: 10px 0 0;
 	 padding: 0;
}


.text{ /* 商品画像とテキストの隙間 */
	padding-left:50px;
}


.right {/* 余白調整 */
	padding-top: 60px;
}


/* 住所関係 */

.delivery , .changeDelivery{
	width: 100%;
	max-width:800px;
	margin: 15px auto;
}

.sub_address{
	line-height: 40px;
	margin-left:5px;
}

/* 送信関係 */
.submit{
	width:160px;
	padding:20px;
	text-decoration: none;
	background-color: rgb(56, 56, 56);
	color : #fff;
	display: inline-block;
	margin: 30px auto;
	border:none;
}

.submit_box{
	margin-top:40px;
	text-align: center;
}

.submit:hover{
	opacity: .7;
}


.total{
	margin-top: 30px;
}

.back{
	display: inline-block;
	margin-bottom:40px;
}

/* 住所追加ボタン */

.form_box{
	margin-top:10px;
	border-top: #333 1px solid;
	width: 100%;
	height:50px;
	line-height: 50px;
	text-align: left;
}

.form_box label:hover{
	opacity: .7;
	
}

/* モーダルウィンドウ　削除確認画面　*/

		.modal-body { /* モーダル自体 */
		  padding: 30px 20px;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		 
		}

		.modal {
		  display: none;
		  position: fixed;
		  z-index: 1;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  overflow: auto;
		  background-color: rgba(0,0,0,0.5);
		}	
		
		.address_input{
			width: 100%;
			max-width:400px;
		}
		
		.formModalContent form{
			width:100%;
			max-width:400px;
			text-align: left;
			
		} 
		
		.formModalContent form label,.formModalContent form input{
			line-height:30px;
			display: inline-block;
			margin-bottom:10px;
			padding-left:5px;
		}
		
		.formModalContent form select{
			height:30px;
		}
		
		.address_submit{
			height:30px;
			width: 80%;
			height:60px;
			display: block;
			border: none;	
			margin:20px auto 0;
			text-decoration: none;
			background-color: rgb(56, 56, 56);
			color : #fff;
		}
				
				
		.address_submit:hover{
			opacity: .7;
		}
			
		@keyframes modalopen {
		  from {opacity: 0}
		  to {opacity: 1}
		}
		
	   	#AddressModalClose{
		 margin:0 auto;
		 text-align: center;
		 max-width: 200px;
	   }
	   

	   #AddressModalClose:hover{
		  opacity: .6;
	  }
	  
	