@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    padding-top: 100px;
    margin : 0 auto;
}

.container{
	width: 100%;
    max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#section_title{ /* product listの字体変更*/
	font-family: 'Tangerine', cursive;
	font-size:50px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom : 1px solid lightslategray;
}


.border{
	border-bottom: 1px solid lightslategray;
	padding-bottom: 30px;
	padding-top: 30px;
}

img{
	height:150px;
	width :150px;
	object-fit:cover;
	padding-left:20px;
	padding-right:20px;
}

.right {
display: flex;
padding-top: 20px;
}

button{
    border: none;
    border-radius: 8px;
    background-color: grey; /* 背景色をグレーに設定 */
    display: flex;
    text-align: center;  
    justify-content: center;
    width: 150px;
    height: 50px;
}

button a{
	width: 150px;
    height: 50px;
    line-height: 50px;
    display: block;
	text-decoration: none;
	color: white; /* 文字色を白に設定 */
}

button a:hover{
	opacity: .7;
}