@charset "UTF-8";

.center{
	margin:30px;
    text-align: center; /* 中央に配置 */
  }
  
 .container{
	display:flex;
	width:100%;
	
}

.split {
	margin-top:50px;
	padding-left:200px;
    width: 100%;
    min-height:400px;
    display: flex;
    flex-direction: column;
    
}

.box{
	width:100%;
	margin:0 auto;
	max-width:500px;
	padding-left:150px;
}

.left-box select, .left-box textarea , .left-box input{
	display: inline-block;
    width: 100%;
    max-width:250px;
    height: 40px;
    margin: 10px auto;
}

.address{
	width: 100%;
	max-width:700px;
	margin-bottom:30px;
}

button{
    width: 200px;
    color: #fff;
    height: 40px;
    border: none;
    margin :100px auto;
    display: block;
    border-radius: 8px;
    background-color: grey; /* 背景色をグレーに設定 */
    margin-top: auto;
}


.left-box {
  border-right: 1px dashed black;

}

.left-box label{
	display: inline-block;
	width: 100px;
}


.back{
	font-size: 12px;
	color:rgb(56, 56, 56);
	text-decoration: none;
	margin:30px;
}

.back:hover , .submit:hover{
	opacity:.7;
}

