@charset "UTF-8";

.center{
    text-align: center; /* 中央に配置 */
  }


.container select, .container textarea , .address{
    width: 50%;
    height: 50px;
    margin:0 auto;
    margin-top: 16px;
    padding-left:5px;
}


button{
    width: 300px;
    height: 60px;
    border: none;
    margin-top: 40px;
    display: block;
    margin: 40px auto;
    border-radius: 8px;
    background-color: grey; /* 背景色をグレーに設定 */
    color: white; /* 文字色を白に設定 */
}

.left-box label{
    padding-left: 30px;
    display:inline-block;
    width: 150px;
}

.container{
	display:flex ;
}

.split {
	margin-top:50px;
	padding:50px;
    width: 50%;
}

.add_list{
	width: 500px;
}

.left-box {
  border-right: 1px solid black;
}

.back{
	font-size: 12px;
	color:rgb(56, 56, 56);
	text-decoration: none;
	margin:30px;
}