@charset "UTF-8";

.container{
	width: 100%;
	max-width:800px;
	margin:0 auto;
	padding:100px;	
}

.container h2{
	font-size: 24px;
}

.container h3{
	font-size: 18px;
	color: rgb(62, 62, 62);
}


.container p{
	font-size: 16px;
	letter-spacing: 1px;
}